.timing-charges-content{
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 0.3rem !important;
}
.btn-primary{
    color: black !important;
    background-color: #f5f5f5 !important;
    border-color: #ddd !important;
    text-align: left !important;
}
.Container{
    margin-top: 0.5rem !important;
}
.dummy{
    height: 80vh !important;
}
.services{

}